@model IEnumerable<UniS.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fileName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            var photoPath = "~/images/" + (item.fileName);
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductStock)
            </td>
                <td>
                    <img src="@photoPath" asp-append-version="true" height="100" width="100" />
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@*<div class="w-100 mt-4 d-flex flex-wrap ">
    @foreach (var item in Model)
    {
        var photoPath = "~/images/" + (item.fileName);
        <div class="card mx-3 mb-4" style="width: 11rem;">
            @if (string.IsNullOrEmpty(Product.Image))
        {
        <img style="width:100%;height:180px" src="/img/NoImage.png" class="card-img-top" alt="...">

        }
        else
        {
        <img style="width:100%;height:180px" src="/img/@Product.Image" class="card-img-top" alt="...">
        }*/
            <div class="card-body">
                <img src="@photoPath" asp-append-version="true" height="100" width="100" />
                <p class="card-text">
                    <b>Name: </b>@item.ProductName <br />
                    <b>Description: </b>@item.ProductDescription <br />
                    <b>Price: </b>@item.ProductPrice
                </p>
                <button type="button" onclick="add(@item.ProductID)" class="btn btn-primary">Add to cart</button>
            </div>
        </div>
    }
</div>*@


@*<div class="w-100 mt-4 d-flex flex-wrap ">
    @foreach(var item in Model)
    {
        var photoPath = "~/images/" + (item.fileName);
        <div class="card mx-5 mb-6" style="width: 11rem;">
            @if (string.IsNullOrEmpty(item.fileName))
            {
                <img style="width:100%;height:180px" src="/images/NoImage.png" class="card-img-top" alt="...">
            }
            else
            {
                <img src="@photoPath" asp-append-version="true" height="100" width="100" />
            }
        </div>
        <div class="card-body">
            <p class="card-text">
                <b>Name: </b>@item.ProductName <br />
                <b>Description: </b>@item.ProductDescription <br />
                <b>Price: </b>@item.ProductPrice
            </p>
        </div>
    }
</div>*@
<div class="w-100 mt-4 d-flex flex-wrap">
    @foreach (var item in Model)
    {
        var photoPath = "~/images/" + (item.fileName);
        <div class="card" style="width: 18rem;">
            @if (string.IsNullOrEmpty(item.fileName))
            {
                <img style="width:100%;height:180px" src="/images/NoImage.png" class="card-img-top" alt="...">
            }
            else
            {
                <img src="@photoPath" asp-append-version="true" class="card-img-top" />
            }
            <div class="card-body">
                <h5 class="card-title">@item.ProductName</h5>
                <p class="card-text">@item.ProductDescription</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    }
</div>